.intro {
  height: 1051px;
  background-image: 
  linear-gradient(25deg, transparent 0%, transparent 41%, rgba(17, 0, 255, 0.5) 41%, rgba(170, 85, 243, 0.5) 100%),
    url("../img/bg-header-girl.png");
  background-repeat: no-repeat;
  background-position: 0 0, -39px 58px;

  @media (max-width: 1400px) {
    height: 800px;
    background-image: 
    linear-gradient(16deg, transparent 0%, transparent 38%, rgba(17, 0, 255, 0.5) 38%, rgba(170, 85, 243, 0.5) 100%),
      url("../img/bg-header-girl.png");
    background-position: 0 0, 0px 58px;
    background-size: auto, 850px;
  }

  @media (max-width: 1030px) {
    height: 618px;
    background-image: 
    linear-gradient(25deg, transparent 0%, transparent 41%, rgba(17, 0, 255, 0.5) 41%, rgba(170, 85, 243, 0.5) 100%),
      url("../img/bg-header-girl.png");
    background-position: 0 0, 0px 58px;
    background-size: auto, 630px;
  }

  @media (max-width: $mobile-width) {
    background-image: 
    linear-gradient(25deg, transparent 0%, transparent 35%, rgba(17, 0, 255, 0.5) 35%, rgba(170, 85, 243, 0.5) 100%),
      url("../img/bg-header-girl.png");
    height: 550px;
  }

  @media (min-width: 480px) and (max-width: $mobile-width)  {
    background-image: 
    linear-gradient(25deg, rgba(17, 0, 255, 0.5) 0%, rgba(170, 85, 243, 0.5) 100%),
      url("../img/bg-header-girl.png");
    background-position: 0 0, 150px 58px;
  }
}

.intro__wrapper {
  padding-top: 329px;
  padding-left: 829px;

  @media (max-width: 1400px) {
    padding-top: 250px;
    padding-left: 790px;
  }

  @media (max-width: 1170px) {
    padding-left: 600px;
  }

  @media (max-width: 1030px) {
    padding-top: 230px;
    padding-left: 550px;
  }

  @media (max-width: 980px) {
    padding-top: 230px;
    padding-left: 450px;
  }

  @media (max-width: 740px) {
    padding-top: 230px;
    padding-left: 380px;
  }

  @media (max-width: 655px) {
    padding-left: 350px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 20px;
  }

  @media (min-width: 480px) and (max-width: $mobile-width)  {
    padding-top: 180px;
    padding-left: 20px;
  }
}

.intro__caption {
  display: block;
  margin: 0;
  font-size: 115px;
  line-height: 120px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  color: #090000;

  @media (max-width: 1400px) {
    font-size: 80px;
    line-height: 85px;
  }

  @media (max-width: 1400px) {
    max-width: 228px;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 55px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    line-height: 45px;
  }
}

.intro__caption--white {
  color: #fff;
}

.intro__text {
  margin: 0;
  margin-left: 9px;
  margin-bottom: 83px;
  font-size: 50px;
  line-height: 98px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  color: #fbf934;
  text-transform: uppercase;

  @media (max-width: 1400px) {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 60px;
  }

  @media (max-width: 1030px) {
    margin-bottom: 30px;
    font-size: 35px;
    line-height: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    font-size: 27px;
    line-height: 30px;
    color: #000;
  }
}

.intro__button {
  padding: 15px 57px;
  font-size: 20px;
  line-height: 26px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: #151515;
  background-color: #fff;
  border-radius: 30px;

  @media (max-width: 1400px) {
    padding: 12px 40px;
  }

  @media (max-width: 1030px) {
    padding: 12px 35px;
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    padding: 10px 20px;
    font-size: 15px;
  }
}

.intro__button:hover {
  background-image: linear-gradient(#fff 0%, #D4D4D4 35%, #B3B3B3 50%, #B3B3B3 51%, #D4D4D4 100%);
}

.intro__button:active {
  background-image: linear-gradient(#fff 0%, #D4D4D4 55%, #B3B3B3 100%);
}

.fa-long-arrow-alt-right {
  padding-left: 9px;
}