.main-nav {
  margin-left: auto;

  @media (max-width: $mobile-width) {
    margin: 10px auto 0 auto;
  }
}

.main-nav__list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0 4px 20px 5px #ac9bee;
}

.main-nav__item {
  display: flex;
}

.main-nav__link {
  display: block;
  padding: 19px 0;
  font-size: 18px;
  line-height: 26px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: $mainColor;
  background-color: #fff;
  text-align: center;

  @media (max-width: 1400px) {
    font-size: 15px;
  }

  @media (max-width: 1030px) {
    padding: 14px 0;
    font-size: 14px;
  }

  @media (max-width: $mobile-width) {
    padding: 8px 0;
  }
}

.main-nav__link:hover {
  background-image: linear-gradient(#fff 0%, #D4D4D4 35%, #B3B3B3 50%, #B3B3B3 51%, #D4D4D4 100%);
}

.main-nav__link:active {
  background-image: linear-gradient(#fff 0%, #D4D4D4 55%, #B3B3B3 100%);
}

.main-nav__link--search {
  position: relative;
  padding-left: 71px;
  padding-right: 52px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;

  @media (max-width: 1400px) {
    padding-left: 51px;
    padding-right: 32px;
  }

  @media (max-width: 1030px) {
    padding-left: 40px;
    padding-right: 25px;
  }
}

.main-nav__link--search::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 31px;
  width: 25px;
  height: 26px;
  background-image: url("../img/icons/search.png");

  @media (max-width: 1400px) {
    left: 20px;
  }

  @media (max-width: 1030px) {
    top: 18px;
    left: 11px;
    background-size: 18px;
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile-width) {
    top: 13px;
    background-size: 15px;
  }
}

.main-nav__link--search::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 0;
  width: 1px;
  height: 36px;
  background-color: #e0e0e0;

  @media (max-width: $mobile-width) {
    height: 20px;
  }
}

.main-nav__link--collection {
  position: relative;
  padding-left: 39px;
  padding-right: 66px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

  @media (max-width: 1400px) {
    padding-left: 24px;
    padding-right: 51px;
  }

  @media (max-width: 1030px) {
    padding-left: 20px;
    padding-right: 45px;
  }
}

.fa-angle-down {
  position: absolute;
  top: 22px;
  right: 31px;
  font-size: 23px;

  @media (max-width: 1030px) {
    top: 17px;
    right: 24px;
  }

  @media (max-width: $mobile-width) {
    top: 14px;
    right: 20px;
    font-size: 19px;
  }
}