.newsletter {
  width: 100%;
  height: 491px;
  margin-top: -73px;
  margin-bottom: 32px;
  background-image: linear-gradient(135deg, #8c84f9 0%, #a165f4 100%);
}

.newsletter__header {
  position: relative;
  margin: 0;
  margin-bottom: 90px;
  padding-top: 180px;
  font-size: 50px;
  line-height: 26px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;

  @media (max-width: 1260px) {
    font-size: 40px;
  }

  @media (max-width: $desktop-width) {
    font-size: 30px;
  }

  @media (max-width: $mobile-width) {
    font-size: 25px;
  }
}

.newsletter__header::before {
  content: "get notified";
  position: absolute;
  top: 186px;
  left: 117px;
  max-width: 981px;
  height: 109px;
  font-size: 150px;
  line-height: 26px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  color: #fefefe;
  opacity: 0.04;
  text-transform: uppercase;

  @media (max-width: 1260px) {
    font-size: 120px;
  }

  @media (max-width: $desktop-width) {
    left: 20px;
    font-size: 90px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
  }
}

.newsletter__input-wrapper {
  position: relative;
}

.newsletter__input {
  display: block;
  width: 819px;
  height: 70px;
  margin: 0 auto;
  padding-left: 24px;
  border: none;
  border-radius: 50px;

  @media (max-width: 1260px) {
    width: 750px;
    height: 60px;
  }

  @media (max-width: $desktop-width) {
    width: 500px;
    height: 50px;
  }

  @media (max-width: $mobile-width) {
    width: 260px;
    height: 40px;
    padding-left: 18px;
  }

  @media (min-width: 480px) and (max-width: $mobile-width)  {
    width: 380px;
  }
}

.newsletter__input::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 26px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: $mainColor;

  @media (max-width: $desktop-width) {
    font-size: 17px;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
  }
}

.newsletter__input:hover::-webkit-input-placeholder {
  position: relative;
  top: -22px;
  left: 0;
  font-size: 14px;
  transition: 0.7s;

  @media (max-width: $desktop-width) {
    font-size: 10px;
  }
}

.newsletter__input:focus::-webkit-input-placeholder {
  font-size: 0;
}

.newsletter__input::-moz-placeholder {
  font-size: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: $mainColor;

  @media (max-width: $desktop-width) {
    font-size: 17px;
    line-height: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
  }
}

.newsletter__input:hover::-moz-placeholder {
  font-size: 14px;
  line-height: 30px;

  @media (max-width: $desktop-width) {
    font-size: 10px;
  }
}

.newsletter__input:focus::-moz-placeholder {
  font-size: 0;
}

.newsletter__submit {
  position: absolute;
  top: 6px;
  right: 171px;
  width: 198px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: #fffefe;
  background-image: linear-gradient(118deg, #8c84f9 0%, #9c6cf5 100%);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;

  @media (max-width: 1260px) {
    height: 50px;
    font-size: 18px;
    right: 92px;
  }

  @media (max-width: $desktop-width) {
    width: 140px;
    height: 40px;
    font-size: 15px;
    right: 44px;
  }

  @media (max-width: $mobile-width) {
    width: 70px;
    height: 32px;
    font-size: 12px;
    right: 6px;
  }

  @media (min-width: 480px) and (max-width: $mobile-width)  {
    right: 18px;
  }
}

.newsletter__submit:hover {
  background-image: linear-gradient(-117deg, #8c84f9 0%, #a165f4 100%);
  box-shadow: 0 0 50px 4px #8A8A8A;
}

.newsletter__submit:active {
  color: #C2C2C2;
  box-shadow: none;
}