.our-brand {
  margin-bottom: 180px;

  @media (max-width: 1030px) {
    margin-bottom: 80px;
  }
}

.our-brand__container {
  display: flex;
}

.our-brand__wrapper {
  padding-top: 248px;

  @media (max-width: $mobile-width) {
    padding-top: 120px;
  }
}

.our-brand__header {
  position: relative;
  margin: 0;
  margin-bottom: 36px;
  font-size: 50px;
  line-height: 26px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;

  @media (max-width: 1260px) {
    font-size: 40px;
  }

  @media (max-width: 1030px) {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 30px;
  }

  @media (max-width: $mobile-width) {
    font-size: 25px;
    line-height: 25px;
  }
}

.our-brand__header::after {
  content: "";
  position: absolute;
  top: -39px;
  right: 218px;
  z-index: -1;
  width: 63px;
  height: 101px;
  background-image: url("../img/our-brands-line.png");

  @media (max-width: 1260px) {
    right: 270px;
  }
}

.our-brand__subtext {
  display: block;
  max-width: 430px;
  margin: 0;
  margin-bottom: 23px;
  font-size: 25px;
  line-height: 34px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;

  @media (max-width: 1030px) {
    font-size: 19px;
    line-height: 26px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 22px;
  }
}

.our-brand__subtext-link {
  color: #8d83f9;
}

.our-brand__subtext-link:hover {
  color: #7C74D5;
  text-decoration: underline;
}

.our-brand__subtext-link:active {
  color: #B2B2B2;
}

.our-brand__text {
  max-width: 520px;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: #888888;

  @media (max-width: 1030px) {
    font-size: 14px;
    line-height: 23px;
  }

  @media (max-width: $mobile-width) {
    font-size: 12px;
    line-height: 20px;
  }
}

.our-brand__image {
  padding-left: 174px;
  padding-top: 100px;

  @media (max-width: 1260px) {
    padding-left: 50px;
  }

  @media (max-width: 1030px) {
    padding-left: 0px;
  }
}

.our-brand__image-wrapper {
  position: relative;
}

.our-brand__image-wrapper::after {
  content: "";
  position: absolute;
  top: 16px;
  right: -150px;
  z-index: -1;
  width: 414px;
  height: 413px;
  background-image: url("../img/out-brands-circle.png");

  @media (max-width: 1260px) {
    right: 50px;
  }
}

.our-brand__image-wrapper::before {
  content: "";
  position: absolute;
  top: 467px;
  right: -178px;
  width: 33px;
  height: 60px;
  background-image: url("../img/snake.png");

  @media (max-width: 1260px) {
    right: -40px;
  }

  @media (max-width: 700px) {
    top: 280px;
    right: 250px;
  }
}