.page-header {
  position: absolute;
  width: 100%;
}

.page-header::before {
  content: "";
  position: absolute;
  top: 182px;
  right: 690px;
  width: 26px;
  height: 30px;
  background-image: url("../img/bg-header-shape-circle.png");
}

.page-header::after {
  content: "";
  position: absolute;
  top: 741px;
  right: 57px;
  width: 44px;
  height: 44px;
  background-image: url("../img/bg-header-shape-square.png");

  @media (max-width: 1490px) {
    right: 120px;
  }
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;

  @media (max-width: 1400px) {
    padding-top: 50px;
  }

  @media (min-width: 480px) and (max-width: $mobile-width)  {
    flex-wrap: nowrap;
  }

  @media (max-width: $mobile-width) {
    padding-top: 30px;
  }
}

.page-header__container::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -40px;
  width: 398px;
  height: 125px;
  background-image: url("../img/bg-header-pattern.png");

  @media (max-width: $mobile-width) {
    width: 320px;
  }
}

.page-header__logo-image {
  @media (max-width: $mobile-width) {
    width: 140px;
  }
}