.showcase__wrapper {
  position: relative;
  max-width: 1379px;
  margin: 0 auto;
  background-color: #fff;
}

.showcase__header {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 131px;
  font-size: 50px;
  line-height: 26px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  text-align: center;

  @media (max-width: 1260px) {
    margin-bottom: 70px;
    font-size: 40px;
  }

  @media (max-width: $desktop-width) {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 25px;
  }
}

.showcase__header::before {
  content: "";
  position: absolute;
  top: -70px;
  left: -360px;
  width: 117px;
  height: 117px;
  background-image: url("../img/showcase-triangle-01.png");
}

.showcase__header::after {
  content: "";
  position: absolute;
  top: -48px;
  right: 375px;
  z-index: -1;
  width: 87px;
  height: 139px;
  background-image: url("../img/showcase-line.png");

  @media (max-width: 1260px) {
    right: 293px;
  }
}

.showcase__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 870px;
  margin: 0 auto;
  margin-bottom: 122px;
  padding: 0;
  list-style: none;

  @media (max-width: 1260px) {
    max-width: 750px;
    margin-bottom: 80px;
  }

  @media (max-width: $desktop-width) {
    margin-bottom: 60px;
    max-width: 500px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
    max-width: 280px;
    flex-direction: column;
    align-items: center;
  }
}

.showcase__list::before {
  content: "";
  position: absolute;
  top: 27px;
  left: -70px;
  width: 35px;
  height: 36px;
  background-image: url("../img/showcase-circle.png");
}

.showcase__list::after {
  content: "";
  position: absolute;
  top: 219px;
  right: -287px;
  width: 34px;
  height: 34px;
  background-image: url("../img/showcase-square.png");

  @media (max-width: 1490px) {
    right: -160px;
  }

  @media (max-width: 1220px) {
    right: -60px;
  }

  @media (max-width: $mobile-width) {
  right: 0;
  }
}

.showcase__link {
  font-size: 15px;
  line-height: 25px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: $mainColor;
  cursor: pointer;
}

.showcase__link:hover {
  color: #988DB2;
}

.showcase__link:active {
  font-size: 20px;
  color: #b394fa;
}

.showcase__items-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.showcase__items-list::before {
  content: "";
  position: absolute;
  top: 495px;
  left: -112px;
  width: 41px;
  height: 41px;
  background-image: url("../img/showcase-triangle-02.png");
}

.showcase__item {
  width: 360px;
  height: 390px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: 1260px) {
    width: 280px;
    height: 320px;
  }

  @media (max-width: $desktop-width) {
    width: 160px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 0px;
  }
}

.showcase__item-image {
  @media (max-width: 1260px) {
    width: 120px;
  }

  @media (max-width: $desktop-width) {
    width: 100px;
  }
}

.showcase__item-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 255px;
  margin-bottom: 18px;

  @media (max-width: $desktop-width) {
    height: 200px;
  }
}

.showcase__item-header {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 100;
  text-align: center;

  @media (max-width: 1260px) {
    font-size: 17px;
    line-height: 22px;
  }

  @media (max-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.showcase__item-header-link {
  color: #777777;
}

.showcase__item-header-link:hover {
  color: $purpleColor;
}

.showcase__item-header-link:active {
  color: #d4d4d4;
}

.showcase__item-price {
  display: block;
  margin: 0;
  font-size: 25px;
  line-height: 25px;
  font-family: "MyriadPro", Arial, sens-serif;
  font-weight: 300;
  text-align: center;

  @media (max-width: 1260px) {
    font-size: 22px;
    line-height: 22px;
  }

  @media (max-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}